window {
    margin: 0px;
    background-color: rgba(30, 30, 30, 0.8);
    border: 2px solid #ffffff; 
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
}

#input {
    margin: 10px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

#entry {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid transparent; 
}

#entry:selected {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #ffffff;
    outline: none;
}

#text {
    margin: 5px;
    color: #ffffff;
}
